#########################
# -> PostgreSQL         #
#########################
# Database configurations
DATABASE_NAME="${DATABASE_NAME}"
DATABASE_USER="${DATABASE_USER}"
DATABASE_PASSWORD="${DATABASE_PASSWORD}"

# Database connection string
DATABASE_URI="${API_DATABASE_URI}"

#########################
# -> API - PayloadCMS   #
#########################

# Used to encrypt JWT tokens
PAYLOAD_SECRET="${API_SECRET}"

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET="${API_SECRET}"

# Used to validate preview requests
PREVIEW_SECRET="${API_SECRET}"